<div class="col-xs-12">
<h1>CheckUp</h1>
<h6>Lightweight Mobile Metrics</h6>

<h3 class="subheader">What is CheckUp?</h3>
<p>CheckUp is a new way to keep track of how you spend your time with its easy to use layout.</p>

<h2>Using CheckUp is easy!</h2>
<div class=""
  <li><span class='steps'>Step 1:<span>setup things you do by category and tags.</li>
  <li>Add Tags to your Routine.</li>
  <li>Use the Routine buttons to track Events throughout the day.</li>
  <li>See your Events tracked over a day, a week, or even a month to see where your time is going.</li>
</ul>

<h2>How do I get started?</h2>

<p>It's simple to get started! Just click <%= link_to 'Sign Up', new_user_registration_path %> and give your life a CheckUp.</p>
</div>
