<link href="css/normalize.css" rel="stylesheet" type="text/css"/>  
<link href="css/datepicker.css" rel="stylesheet" type="text/css"/>  


<h1>Events</h1>
<%= render '/layouts/event_jquery_date_form' %>
<button data-type="" id="single-trace" class="btn event-trace-single-btn">Single Day</button>&nbsp
<button data-type="" id="multiple-trace" class="btn event-trace-multiple-btn">Multiple days</button><br><br>
<button id="category-time-show" class="btn event-save-btn">Trace Your Time</button><br><br>

<div class="user-data">
</div>
