<h1>Track Your Time</h1>
<h6 class='miniheader center'>Today's time appears on the event page</h6>
<button data-type="" id="single-trace" class="btn event-trace-btn float-left">Single Day</button>
<button data-type="" id="multiple-trace" class="btn event-trace-btn float-right">Date Range</button>
<%= render '/layouts/event_jquery_date_form' %>
<button id="category-time-show" class="btn event-save-btn btn-success">Track Time!</button>
<div id="master-event">
</div>

