<h1>Routine Page</h1>

<ul id="routines-list">
  <% @active_sort_tags.each do |tag| %>
    <li class='tags' data-routine-tag-id="<%= tag.id %>"
      data-routine-category-id="<%= tag.category_id %>">
      <p class="routine-tag-title"><%= tag.name %></p>
    </li>
  <% end %>
</ul>
