/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import 'bootstrap';
@import 'flat-ui';

body {
  width: 100%;
  background-color: #ecf0f1;
}

.container {
  max-width: 700px;
}

h1, .center {
  text-align: center;
}

.btn {
  color: white;
  &:active {
    color: rgba(255, 255, 255, 1);
  }
  &:focus {
    outline: none !important;
  }
}

// .active-tag {
//   background-color: tomato;
// }

.tags {
  display: block;
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  color: white;
  .routine-tag-title {
    margin: 0;
    height: 33px;
    overflow: hidden;
    line-height: 33px;
    text-align: left;
    padding-left: 25px;
  }
  &:focus {
    opacity: 1;
  }
  &.active-timer {
    border: 2px solid #e74c3c;
  }
}

.timer {
  float: right;
  padding-right: 5px;
  font-size: smaller;
  color: #95a5a6;
  &.active-tag {
    color: white;
  }
}

.routine-btn {
  font-size: 14px;
  width: 100%;
}

.delete-tag-btn, .routine-add-tag-btn, .routine-remove-tag-btn {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0 1px;
}

.add-tag-btn, .delete-category-btn, .routine-save-btn {
  height: 20px;
  margin-top: 2px;
  padding: 0;
}

.routine-add-tag-btn, .routine-save-btn {
  float: right
}

.routine-save-btn {
  width: 30%;
  margin-top: 4px;
}

.routine-add-tag-btn, .delete-category-btn, .add-tag-btn, .delete-tag-btn,
.routine-remove-tag-btn {
  background-color: transparent;
  &:hover {
    background-color: transparent;
    color: #2c3e50
  }
  &:focus, &:active {
    background-color: transparent;
  }
}

.delete-tag-btn, .routine-remove-tag-btn {
  float: left;
  margin-right: 2px;
}


#new-category-name, #new-category-submit {
  width: 49%;
  display: inline-block;
  margin-bottom: 2px;
  height: 30px;
}

input {
  height: 32px;
  font-size: 16px;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.new-tag-name {
  height: 28px;
  font-size: 10px;
  width: 100%;
}

.category-title {
  font-size: 16px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}

#routine-setup {
  padding: 0px;
}

.tag-title, .routine-tag-title {
  line-height: 20px;
  margin-bottom: 2px;
  font-size: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-routine-li {
  border-radius: 4px;
  padding: 1px 0;
  margin: 2px 0;
  color: #ecf0f1;
}

#all-categories, #routine-setup {
  padding: 0 5px 5px;
}

.new-category-btns {
  padding: 2px;
  text-align: center;
}

.miniheader {
  font-size: 70%;
  margin: 2px 0;
  margin-bottom: 10px;
  padding-left: 2px;
}

.main-category {
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 2px;
  color: #ecf0f1;
}

.category-of-tags li {
  display: inline;
  margin-right: 10px;
}

.category-outer-bar {
  height: 40px;
  background-color: #2c3e50;
  border-radius: 4px;
  position: relative;
  padding: 0;
  margin: 2px 0;
  opacity: 0.8;
  &:hover, &:active {
    opacity: 1;
  }
}

.category-inner-bar {
  height: 100%;
}

/* Jedi CSS tricks to round only the inner bar corners that are on the left and
   right ends */

.category-outer-bar:first-child .category-inner-bar {
  border-radius: 4px 0 0 4px;
}

.category-outer-bar:last-child .category-inner-bar {
    border-radius: 0 4px 4px 0;
}

.category-outer-bar:only-child .categPory-inner-bar {
  border-radius: 4px;
}

.category-event-title {
  position: absolute;
  margin: 0;
  left: 5%;
  color: #ecf0f1;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  z-index: 100;
}

.tag-list-div {
  opacity: 1;
  position: relative;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 6px;
  ul {
    margin: none;
    height: 100%;
  }
}

.tag-list-li {
  padding-left: 4px;
  line-height: 30px;
  overflow: hidden;
  color: #ecf0f1;
  height: 100%;
  font-size: 80%;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:not(last-child) {
    border-right: 1px solid #ecf0f1;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
  &:only-child { /* If only one list item both ends need to be rounded */
    border-radius: 4px;
  }
}

#master-event {
  margin-top: 10px;
}

.time-period-title {
  font-size: 20px;
}

.input-group-date {
  display: inline-block;
}

.event-trace-btn, .input-group.date {
  width: 49%;
  margin-bottom: 4px;
  display: inline-block;
}

.event-save-btn {
  width: 100%%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  margin-right: 3px;
}

.hasDatepicker {
  width: 100%;
  display: block;
}

.ui-datepicker-trigger {
  display: none;
}

.tag-overflow {
  width: 50%;
  display: block;
  position: absolute;
  top: -30px;
  right: 5px;
  border-radius: 4px;
  height: 25px;
  font-size: 90%;
  font-weight: bold;
}

.nav-bar {
  text-align: center;
  background-color: #2c3e50;
  color: white;
  font-size: 17px;
  height: 30px;
  padding-top: 5px;
}

.notice, .alert {
  position: absolute;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #2980b9;
}
