/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import 'bootstrap';
@import 'flat-ui';

body {
  width: 100%;
  background-color: #ecf0f1;
}

h1 {
  text-align: center;
}

.btn {
  color: white;
  &:active {
    color: rgba(255, 255, 255, 1);
    background-color: #2c3e50;
  }
  &:focus {
    outline: none !important;
  }
}

// .active-tag {
//   background-color: tomato;
// }

.tags {
  display: block;
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  color: white;
  .routine-tag-title {
    margin: 0;
    height: 33px;
    overflow: hidden;
    line-height: 33px;
    text-align: left;
    padding-left: 25px;
  }
  &:focus {
    opacity: 1;
  }
  &.active-timer {
    border: 2px solid #e74c3c;
  }
}

.timer {
  float: right;
  padding-right: 5px;
  font-size: smaller;
  color: #95a5a6;
  &.active-tag {
    color: white;
  }
}

.routine-btn {
  font-size: 14px;
  width: 100%;
}

.delete-tag-btn, .routine-add-tag-btn, .routine-remove-tag-btn {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0 1px;
}

.add-tag-btn, .delete-category-btn, .routine-save-btn {
  height: 20px;
  margin-top: 2px;
  padding: 0;
}

.routine-add-tag-btn, .routine-save-btn {
  float: right
}

.routine-save-btn {
  width: 30%;
  margin-top: 4px;
}

.routine-add-tag-btn, .add-tag-btn, .routine-save-btn {
  background-color: #27ae60;
  &:hover, &:focus {
    background-color: #2ecc71;
  }
}

.delete-tag-btn, .routine-remove-tag-btn {
  float: left;
  margin-right: 2px;
}

.delete-tag-btn, .routine-remove-tag-btn, .delete-category-btn {
  background-color: #c0392b;
  &:hover, &:focus {
    background-color: #e74c3c;
  }
}

#new-category-name, #new-category-submit {
  width: 49%;
  display: inline-block;
  margin-bottom: 2px;
  height: 30px;
}

input {
  height: 32px;
  font-size: 16px;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.new-tag-name {
  height: 28px;
  font-size: 10px;
  width: 100%;
}

.category-title {
  font-size: 16px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#routine-setup {
  padding: 0px;
}

.tag-title, .routine-tag-title {
  line-height: 20px;
  margin-bottom: 2px;
  font-size: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#all-categories, #routine-setup {
  padding: 0 5px 5px;
}

.new-category-btns {
  padding: 2px;
  text-align: center;
}

.miniheader {
  font-size: 10px;
  margin: 2px 0;
  margin-bottom: 10px;
  padding-left: 2px;
}

.main-category {
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 2px;
  color: #ecf0f1;
}
