
<div id="cal-1" class="input-group date">
  <input type="text" id="from" name="from" placeholder="From">
</div>
<div id="cal-2" class="input-group date">
  <input type="text" id="to" name="to" placeholder="To">
</div>

<script>
  $(function() {
    var userDate = "<%= @create_date %>".split(" ")[0].split('-'),
        userDay = userDate[1] + '/' + userDate[2] + '/' + userDate[0]
    $("#single-trace").attr("data-user-create", userDay)
    $( "#from" ).datepicker({
      maxDate: -1,
      minDate: userDay,
      showOtherMonths: true,
      selectOtherMonths: true,
      showOn: "both",
      buttonImage: "<%= asset_path('calendar.gif') %>",
      buttonImageOnly: true,
      autoclose: true,
      onClose: function( selectedDate ) {
        var dayArray = selectedDate.split('/');
        var day = dayArray[0] + '/' + (parseInt(dayArray[1]) + 1) + '/' + dayArray[2];
        $( "#to" ).datepicker( "option", "minDate", day );
        $( "#to" ).datepicker( "option", "defaultDate", selectedDate);
      }
    });
    $( "#to" ).datepicker({
      maxDate: -1,
      showOn: "both",
      minDate: userDay,
      showOtherMonths: true,
      selectOtherMonths: true,
      buttonImage: "<%= asset_path('calendar.gif') %>",
      buttonImageOnly: true,
      autoclose: true,
      onClose: function( selectedDate ) {
        var dayArray = selectedDate.split('/');
        var day = dayArray[0] + '/' + (parseInt(dayArray[1]) - 1) + '/' + dayArray[2];
        $( "#from" ).datepicker( "option", "maxDate", day );
      }
    });
  });
</script>
