<div class="input-group date">
  <input type="text" class="form-control" id="datepicker-from">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-th"></i>
  </span>
</div>
<div class="input-group date">
  <input type="text" class="form-control" id="datepicker-to">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-th"></i>
  </span>
</div>
<script>
  $('#datepicker-from').datepicker({
    startDate: "01-01-2014",
    maxDate: -1,
    changeMonth: true,
    numberOfMonths: 2,
    showOtherMonths: true,
    selectOtherMonths: true,
    autoclose: true,
    onClose: function(selectedDate, datepicker) {
      console.log("hi");
    }
  });
  $('#datepicker-to').datepicker({
    startDate: "01-01-2014",
    maxDate: -1,
    changeMonth: true,
    numberOfMonths: 2,
    showOtherMonths: true,
    selectOtherMonths: true,
    autoclose: true,
  });
</script>
