<div class="input-group date">
  <input type="text" class="form-control" id="datepicker-from">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-th"></i>
  </span>
</div>
<div class="input-group date">
  <input type="text" class="form-control" id="datepicker-to">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-th"></i>
  </span>
</div>
<script>
  var yesterday = new Date();
  yesterday.setDate(yesterday.getDate() - 1)
  $('.input-group.date').datepicker({
    startDate: "01-01-2014",
    endDate: yesterday,
    autoclose: true
  });
</script>
