<nav>
  <ul class="nav-ul">
    <li><%= link_to "Setup", setup_path %></li>
    <li><%= link_to "Routines", routines_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= render 'layouts/user_login_widget' %></li>
  </ul>
</nav>
